//Colors
$White:#fff;
$Dark-Gray: #313131;
$Light-Gray: #EFEFEF;

//Catalog
$Lemon: #FCF38C;
$Coconut: #EFEFEF;
$Strawberry: #FCA18C;
$Iris: #FCBF8C;
$Lime: #E1FCAE;
$Blueberry: #D3CCFD;

//Font-Family
$Sans-Font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$Serif-Font: Georgia, serif;

@mixin font($family-type, $size: 1rem, $weight : normal, $color : $Dark-Gray){
  font: {
    family: $family-type;
    size: $size;
    weight: $weight;
  }
  color: $color;
}

