//Colors
$white:#fff;
$dark-gray: #313131;
$light-gray: #EFEFEF;

//Catalog
$lemon: #FCF38C;
$coconut: #EFEFEF;
$strawberry: #FCA18C;
$iris: #FCBF8C;
$lime: #E1FCAE;
$blueberry: #D3CCFD;
//Font-Family
$sans-Font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$serif-Font: Georgia, serif;

@mixin font($family-type, $size: 1rem, $weight : normal, $color : $Dark-Gray){
  font: {
    family: $family-type;
    size: $size;
    weight: $weight;
  }
  color: $color;
}

